@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #f3f2ef;
    font-family: 'Poppins', sans-serif;
}
.app__body{
    width: 70%;
    padding: 0 15%;
    display: flex;
}