.feed{
    display: flex;
    flex: 0.6;
    flex-direction: column;
    margin: 0 30px;
}
.feed .feed__input{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}
.feed .feed__input_search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:left;
}
.feed .feed__input_search:first-child{
    margin-bottom: 10px;
}
.feed .feed__input form{
    display: flex;
    align-items: center;
    
    flex: 1;
}
.feed .feed__input form input[type='text']{
    flex: 1;
    border-radius: 20px;
    padding: 0px 10px;
    margin-left: 10px;
    height: 40px;
    outline: none;
   border: 1px solid #ccc;
}
.feed .feed__input form input[type='submit']{
    display: none; 
}
.feed__options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    color: #585656;
}
.feed__options .option{
    display: flex;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
}
.feed__options .option:hover{
    background: #e5dddd;
}
.feed__options .option svg{
    margin-left: 5px;
}
