.header{
    display: flex;
    background-color: #fff;
    padding: 10px 15%;
    justify-content: space-between;
    
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    z-index: 99;
}
.header__left{
    display: flex;
    align-items: center;
}
.header__left img{
    height: 30px;
    margin-right: 10px;

}
.header__search{
    display: flex;
    align-items: center;
    background-color: #eef3f8;
    padding: 3px 10px;
    border-radius: 5px;
    height: 30px;
}
.header__search input{
    background: transparent;
    border: 0px;
    outline: 0;
    min-width: 220px;
}
.header__search svg{
    font-size: 20px;
    color: #333;
}
.header__right{
    display: flex;
    align-items: center;
}
.header__options{
    display: flex;
    align-items: center;
   flex-direction: column;
   margin: 0 15px;
   font-size: 14px;
   cursor: pointer;
   position: relative;
   color: #565656;
}
.header__options:first-child{
    color: #000;
}
.header__options:first-child::before{
    content: "";
    position: absolute;
    left: -10px ;
    right: -10px;
    background-color: #333;
    height: 1px;
    bottom: -7px;
}
.header__options:nth-child(2){
    width: 100px;
}
.MuiAvatar-circular{
 height: 30px !important;
 width: 30px !important;
 object-fit: contain;
}

