.sidebar{
    display: flex;
    flex: 0.25;
    flex-direction: column;

}
.sidebar .sidebar__profile{
    border-bottom: 1px solid #ccc;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
.sidebar .sidebar__profile .MuiAvatar-circular{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    object-fit: contain;
}
.sidebar .sidebar__profile img{
    width: 100%;
    
}
.profile__details{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.profile__details h4{
    margin-bottom: 0px;

}
.profile__details p{
    margin: 5px 10px ;
    font-size: 13px;
    color: #333;
}

.profile__stats{
    display: flex;
    text-align: left;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
.sidebar__recent{
    background: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    position: sticky;
    top: 60px;
}
.sidebar__recent p{
    margin: 0px 0px 10px 0px;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #333;
}
.hash span{
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
    color: #333;

}